@use 'lib' as *;

.about {
	$self: &;
	background-color: var(--background);
	padding: 120px 0 135px;
	position: relative;
	
	@include media('<=xs') {
		padding: 80px 0 125px;
	}
	
	@include media('<=xxs') {
		padding: 80px 0 110px;
	}

	&__inner {
		display: grid;
		grid-template-columns: minmax(0, 0.62fr) minmax(0, 0.38fr);
		align-items: center;
		grid-gap: 50px;

		@include media('<=xs') {
			grid-template-columns: 1fr;
		}
	}

	&__side {
		display: flex;
		flex-flow: column nowrap;
		gap: 40px;
	}

	&__title {
		@include media('<=xs') {
			text-align: center;
		}
	}

	&__text {
		display: flex;
		flex-flow: column nowrap;
		font-size: fluid(20px, 17px);
		gap: 24px;

		p {
			margin: 0;
		}

		span {
			color: var(--green);
		}
	}

	&__image {
		padding: 0 27px 27px 0;
		position: relative;
		
		@include media('<=xs') {
			max-width: 400px;
			margin: 0 auto;
		}

		&::before {
			display: block;
			content: '';
			background-color: var(--light);
			position: absolute;
			aspect-ratio: 1;
			width: 76%;
			bottom: 0;
			right: 0;
		}

		img {
			display: block;
			position: relative;
			z-index: 1;
		}
	}

	&__legend {
		position: absolute;
		bottom: -23px;
		left: var(--gap);
		width: calc(100% - var(--gap) * 2);

		@include media('<=xs') {
			bottom: 0;
		}

		img {
			display: block;
			margin: 0 auto;
		}
	}
}