<header class="header @@if(this.mod){header_@@mod}" data-header-js>
	<div class="header__inner container">
		<button class="header__toggle"><svg><use xlink:href="#menu"></use></svg></button>
		<nav class="header__menu">
			<button class="header__close"><svg><use xlink:href="#close"></use></svg></button>
			<a class="header__link" href="./#hello">Обо мне</a>
			<a class="header__link" href="./#tools">Технологии</a>
			<a class="header__link" href="./#portfolio">Портфолио</a>
			<a class="header__link" href="./#assembly">Сборка</a>
			<a class="header__link" href="./#contact">Контакты</a>
		</nav>
		<a class="header__tgm" href="./"><svg><use xlink:href="#tgm"></use></svg></a>
	</div>
</header>