@use 'lib' as *;

.hello {
	$self: &;

	&__inner {
		padding: 115px 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		grid-gap: 40px;
		
		@include media('<=xs') {
			padding: 80px 0;
			grid-template-columns: 1fr;
		}
	}

	&__image {
		max-width: 524px;

		padding-top: fluid(35px, 25px);
		padding-left: fluid(35px, 25px);
		position: relative;
		
		@include media('<=xs') {
			max-width: 380px;
			margin: 0 auto;
		}

		&::before {
			display: block;
			content: '';
			background-color: var(--light);
			position: absolute;
			aspect-ratio: 1;
			width: 80%;
			left: 0;
			top: 0;
		}
		
		img {
			position: relative;
			aspect-ratio: 1;
			display: block;
			z-index: 1;
		}
	}

	&__text {
		font-size: fluid(34px, 26px);

		@include media('<=xs') {
			text-align: center;
		}

		strong {
			font-weight: 700;
			color: var(--green);
		}
	}
}