@use 'lib' as *;

.portfolio {
	$self: &;
	padding: 75px 0 150px;

	&__inner {

	}

	&__title {
		text-align: center;
		margin-bottom: 64px;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 24px;
	}

	&__item {
		text-decoration: none;
		position: relative;

		&_light {
			border: 1px solid #cacaca;
		}

		img {
			display: block;
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			background: svg-url('<svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M34.9392 17.4662C34.9392 21.3205 33.6878 24.8809 31.5797 27.7696L42.2126 38.4088C44.666 40.8617 40.8609 44.6652 38.4079 42.2128L27.775 31.5735C24.8858 33.6896 21.3247 34.9324 17.4696 34.9324C7.81933 34.9324 0 27.1146 0 17.4662C0 7.8178 7.81933 0 17.4696 0C27.1199 0 34.9392 7.8178 34.9392 17.4662ZM26.0216 26.0165C30.6272 21.4118 30.6725 13.5659 26.0216 8.91587C21.4157 4.3109 13.5687 4.26572 8.91761 8.91587C4.31203 13.5206 4.26672 21.3665 8.91761 26.0165C13.5235 30.6215 21.3705 30.6667 26.0216 26.0165Z" fill="white"/></svg>') center / auto no-repeat rgba(0, 0, 0, 0.5);
			transition: opacity 0.4s;
			opacity: 0;
			inset: 0;
		}

		&:hover::before {
			opacity: 1;
		}
	}
}