@use 'lib' as * with(
	$breakpoints: (
		'xxxs': 360px,
		'xxs': 480px,
		'xs': 640px,
		'sm': 780px,
		'md': 960px,
		'lg': 1100px,
		'xlg': 1280px,
		'xxlg': 1440px,
		'xxxlg': 1680px,
		'xxxxlg': 1928px
	)
);

@use "../blocks/**/*.scss";
// @use "../../node_modules/swiper/swiper";

// Browsersync mark
#__bs_notify__ { 
	background-color: rgba(27, 32, 50, 0.4) !important;
	color: rgba(250, 250, 250, 0.6) !important;
}

// Include breakpoints badge
// body { @include screen-media(); }

@include font-face("Inter-ExtraLight", "IR", 200);
@include font-face("Inter-ExtraBold", "IR", 800);
@include font-face("Inter-SemiBold", "IR", 600);
@include font-face("Inter-Regular", "IR", 400);
@include font-face("Inter-Medium", "IR", 500);
@include font-face("Inter-Light", "IR", 300);
@include font-face("Inter-Black", "IR", 900);
@include font-face("Inter-Bold", "IR", 700);
@include font-face("Inter-Thin", "IR", 100);

body, html {
	// scrollbar-gutter: stable;
	scroll-behavior: smooth;	
	box-sizing: border-box;
	font-family: "IR", sans-serif;
	background-color: #fff;
	font-size: var(--size);
	color: var(--text);
	line-height: 1.2;
	font-weight: 400;
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
}

body {
	
	&.underlay {
		&::before {
			display: block;
			box-sizing: border-box;
			content: '';
			position: fixed;
			z-index: 12;
			top: 0px; left: 0px;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			transition: opacity 0.4s;
			animation: fadeIn 0.4s;
		}
	
		&_closing::before {
			opacity: 0;
		}
	}
}

.footer {
	flex: 0 0 auto; 
	margin-top: auto; 
}

.sprite {
	display: none;
}

p { margin-bottom: 10px; }
strong { font-weight: bold; }
em { font-style: italic; }

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
